{
  "name": "katkhm-mdbootstrap",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "node_modules/mdb-ui-kit/src/scss/mdb.free.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "node_modules",
      "node_modules/mdb-ui-kit",
      "node_modules/mdb-ui-kit/src",
      "node_modules/mdb-ui-kit/src/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "node_modules/mdb-ui-kit/src/scss/mdb.free.scss",
      "imports": [
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_functions.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_functions.scss",
        "node_modules/mdb-ui-kit/src/scss/custom/_variables.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_variables.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_variables.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_mixins.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_utilities.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_root.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_reboot.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_type.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_images.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_containers.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_grid.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_tables.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_forms.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_buttons.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_transitions.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_dropdown.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_button-group.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_nav.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_navbar.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_card.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_breadcrumb.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_pagination.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_badge.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_alert.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_accordion.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_progress.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_list-group.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_close.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_toasts.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_modal.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_tooltip.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_popover.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_carousel.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_spinners.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_offcanvas.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/_helpers.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_utilities.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/utilities/_api.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_mixins.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_root.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_reboot.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_type.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_colors.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_shadows.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_flag.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_images.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_form-control.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_form-select.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_form-check.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_form-file.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_input-group.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_validation.scss",
        "node_modules/mdb-ui-kit/src/scss/free/forms/_form-range.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_tables.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_buttons.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_deprecated.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_dropdown.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_button-group.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_nav.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_navbar.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_card.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_breadcrumb.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_pagination.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_badge.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_alert.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_progress.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_list-group.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_close.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_modal.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_toasts.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_tooltip.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_popover.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_scrollspy.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_ripple.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_range.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_accordion.scss",
        "node_modules/mdb-ui-kit/src/scss/free/_carousel.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/vendor/_rfs.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_deprecate.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_breakpoints.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_color-scheme.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_image.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_resize.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_visually-hidden.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_reset-text.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_text-truncate.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_utilities.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_alert.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_buttons.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_caret.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_pagination.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_lists.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_list-group.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_forms.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_table-variants.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_border-radius.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_box-shadow.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_gradients.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_transition.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_clearfix.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_container.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/mixins/_grid.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_labels.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_form-text.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_form-control.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_form-select.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_form-check.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_form-range.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_floating-labels.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_input-group.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/forms/_validation.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_clearfix.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_colored-links.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_ratio.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_position.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_visually-hidden.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_stretched-link.scss",
        "node_modules/mdb-ui-kit/src/scss/bootstrap-rtl-fix/helpers/_text-truncation.scss",
        "node_modules/mdb-ui-kit/src/scss/free/mixins/_buttons.scss",
        "node_modules/mdb-ui-kit/src/scss/free/mixins/_ripple.scss",
        "node_modules/mdb-ui-kit/src/scss/free/mixins/_table-variants.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": true,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}